@media screen and (max-width: 420px) {
  html {
    font-size: 5px;
  }
}
@media screen and (max-width: 640px) and (min-width: 430px) {
  html {
    font-size: 10px;
  }
}
* {
  font-size: 1.6rem;
}
.glyphicon {
  font-size: 1.8rem;
}
body {
  max-width: 640px;
  margin: 0 auto;
  background: #F2F2F2;
}
#top-bar {
  background: #F36523;
}
#top-bar h1 {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  overflow: auto;
}
#top-bar h1 span {
  font-size: 2rem;
}
#top-bar h1 span:hover {
  cursor: pointer;
}
#top-bar h1 span:nth-of-type(1) {
  float: left;
}
#top-bar h1 span:nth-of-type(2) {
  float: right;
}
#dropMenu {
  padding: 1rem;
  background: #EB6120;
  position: absolute;
  top: -0.1rem;
  right: 0;
  z-index: 1;
  text-align: left;
}
#dropMenu a {
  display: inline-block;
  color: white;
}
#dropMenu a span {
  font-size: 1.35rem;
  margin-right: 1rem;
}
#dropMenu a:nth-of-type(1) {
  margin-bottom: 1rem;
}
#cinema {
  position: relative;
  margin: 0;
  padding: 1rem;
  background: #F2F2F2;
  border-bottom: 1px #d7d7d7 solid;
}
#cinema * {
  text-align: left;
}
#cinema #content h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}
#cinema #content h2 span {
  color: #F36523;
}
#cinema #content p:nth-of-type(1) {
  margin-bottom: 0.5rem;
}
#cinema #content p {
  margin: 0;
}
#cinema #content p span {
  color: #269ABC;
}
#characteristic,
#service,
#wala {
  padding: 1rem;
}
#characteristic h3,
#service h3,
#wala h3 {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  border-left: 5px solid #F36523;
}
#characteristic p,
#service p,
#wala p {
  margin: 0;
}
#service > div {
  display: flex;
  overflow: auto;
}
#service > div > div {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0;
  background: white;
  float: left;
  color: #F36523;
}
#service > div .tag {
  width: 16%;
  border-left: 5px solid green;
  padding: 1rem 0 0 0;
}
#service > div .tag span:nth-of-type(1) {
  font-size: 2rem;
}
#service > div .tag span:nth-of-type(2) {
  font-size: 1rem;
}
#service > div .describe {
  margin: 0 1rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  text-align: left;
  width: 60%;
  line-height: 400%;
  color: black;
}
#wala a {
  background: white;
  border: 1px #D5D5D5 solid;
  border-radius: 3px!important;
}
