body {
  max-width: 640px;
  margin: 0 auto;
  background: #F3F3F3;
}
#top-bar {
  background: #F36523;
}
#top-bar h1 {
  margin: 0 2rem 0 0;
  padding: 1rem;
  font-size: 2rem;
  color: white;
}
#top-bar h1 span {
  font-size: 2rem;
  float: left;
}
#main-body nav {
  overflow: hidden;
}
#main-body nav a {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  width: 50%;
  float: left;
  color: darkgray;
  border-bottom: 2px solid darkgray;
  background: #F3F3F3;
}
#main-body nav .a-active {
  color: #F36523;
  border-bottom: 2px solid #F36523;
}
#account-login,
#phone-login {
  background: #F3F3F3;
  padding: 2rem 0;
  margin: 0;
}
#account-login p,
#phone-login p {
  overflow: hidden;
  margin: 0;
  padding: 0.7rem;
  text-align: left;
  background: white;
  border-bottom: 1px solid #D4D4D4;
  font-size: 1.8rem;
}
#account-login input,
#phone-login input {
  text-align: left;
  border: 0;
  outline: none;
}
#account-login .label-default,
#phone-login .label-default {
  font-size: 1.8rem;
  float: right;
}
#account-login .pa,
#phone-login .pa {
  border: 0;
  background: #F3F3F3;
}
#account-login .pa a,
#phone-login .pa a {
  background: #F36523;
  border: 0;
  border-radius: 3px!important;
  font-size: 1.8rem;
}
#account-login .p0,
#phone-login .p0 {
  background: #F3F3F3;
  overflow: hidden;
  border: 0;
}
#account-login .p0 a:nth-of-type(1),
#phone-login .p0 a:nth-of-type(1) {
  color: #F36523;
  font-size: 1.8rem;
}
#account-login .p0 a:nth-of-type(2),
#phone-login .p0 a:nth-of-type(2) {
  float: right;
  font-size: 1.8rem;
}
#account-login .p2 span,
#phone-login .p2 span {
  color: #D4D4D4;
}
#account-login .p3 span,
#phone-login .p3 span {
  color: #D4D4D4;
}
#account-login .p3 input,
#phone-login .p3 input {
  width: 30%;
}
#account-login .p3 a,
#phone-login .p3 a {
  float: right;
  padding: 0 0.5rem;
  background: darkgray;
  color: white;
  font-size: 1.8rem;
  border-radius: 3px!important;
}
#account-login .p3 {
  margin: 2rem 0;
}
#footer {
  margin: 0;
  padding: 2rem 1rem;
  background: #F3F3F3;
}
#footer hr {
  margin: 0;
  border-bottom: 1px solid darkgrey;
}
#footer span {
  position: relative;
  padding: 0 1rem;
  top: -1rem;
  font-size: 2rem;
  color: darkgrey;
  background: #F3F3F3;
}
