body {
  max-width: 100%;
}
body #head {
  background-color: #F36523;
  width: 100%;
  height: 180px;
}
body #head img {
  width: 260px;
  height: 120px;
  margin-top: 20px;
  margin-left: 20px;
}
body #head button {
  background-color: #F36523;
  color: white;
  position: relative;
  left: 300px;
  top: -90px;
  font-size: 45px;
  border: none;
}
body #head button .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 15px dashed;
  border-top: 15px solid \9;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.icon-bar {
  background-color: white;
}
