*{
	margin: 0;
	padding: 0;
	list-style: none!important;
	font-size: 16px;
	text-align: center;
	border-radius: 0!important;

}
ul{
	margin: 0!important;
}
a,a:link,a:hover,a:valid,a:visited{
	cursor: pointer;
	color: black;
	text-decoration: none;
}
