body {
  max-width: 640px;
  margin: 0px auto;
}
#head {
  background-color: #F26522;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 16px;
}
#head p {
  margin: 0px;
  padding: 15px;
}
#head span {
  left: -140px;
  top: -35px;
  font-size: 20px;
  color: white;
}
#head #span1 {
  color: white;
  position: relative;
  left: 130px;
  top: -40px;
  font-size: 15px;
  background-color: #F26522 ;
  border: transparent;
}
.caret {
  color: white;
}
#mydrop {
  background-color: #F0EFED;
  padding-top: 6px;
  padding-bottom: 3px;
}
#mydrop ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
