body {
  max-width: 640px;
  margin: 0px auto;
}
#head {
  background-color: #F26522;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 16px;
}
#head p {
  margin: 0px;
  padding: 15px;
}
#head span {
  left: -140px;
  top: -35px;
  font-size: 20px;
  color: white;
}
#head #span1 {
  color: white;
  position: relative;
  left: 130px;
  top: -40px;
  font-size: 15px;
  background-color: #F26522 ;
  border: transparent;
}
.caret {
  color: white;
}
#mydrop {
  background-color: #F0EFED;
  padding-top: 6px;
  padding-bottom: 3px;
}
#mydrop ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
<<<<<<< HEAD
.content li {
  color: #ADADAD;
  display: inline-block;
  float: right;
}
.content {
  border-bottom: 1px solid #C7C7C7;
  height: 120px;
}
.content b {
  margin: 40px;
}
.content p {
  margin-left: 40px;
  margin-top: 0px;
}
.span1 {
  color: #F26522;
  float: right;
  position: relative;
  top: -25px;
  right: 10px;
  font-size: 20px;
}
#myid {
  text-align: center;
  border: 1px solid grey;
  width: 70%;
  height: 30px;
  margin-left: 15%;
}
.content1 {
  height: 120px;
}
.content1 b {
  margin: 40px;
}
.content1 p {
  margin-left: 40px;
  margin-top: 0px;
}
.content1 li {
  color: #ADADAD;
  display: inline-block;
  float: right;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 385px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 2;
  left: -50px;
  top: 30px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 385px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 18px 20px;
  z-index: 99;
  left: -185px;
  top: 30px;
}
.dropdown:hover .dropdown-content2 {
  display: block;
}
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 385px;
  padding: 18px 20px;
  z-index: 98;
  left: 40px;
  top: -20px;
  max-height: 130px ;
}
.dropdown:hover .dropdown-content3 {
  display: block;
}
=======
>>>>>>> 9adad1a21c1f8ad1d196b5345f7a510a246146ac
