<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>场次</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link href="css/reset.css" rel="stylesheet" />
		<link href="css/screen.css" rel="stylesheet" />
		<script src="js/vue.js"></script>
	</head>

	<body>
		<!--顶部条-->
		<header id="top-bar">
			<h1>
				<span class="glyphicon glyphicon-menu-left" onclick="history.go(-1)"></span>
				妖精的尾巴剧场版：龙泣
				<span class="glyphicon glyphicon-menu-hamburger" onclick="showDropMenu()"></span>
			</h1>
		</header>
		<!--影院信息-->
		<section id="cinema">
			<!--三行下拉菜单-->
			<div id="dropMenu" style="display: none;">
				<a onclick="window.location='movie.html'"><span class="glyphicon glyphicon-home"></span>首页</a><br />
				<a onclick="window.location='login.html'"><span class="glyphicon glyphicon-user"></span>个人中心</a>
			</div>
			<div id="content" onclick="window.location='cinema.html'">
				<p><span>大地影院</span><span>10.<sup>0</sup></span></p>
				<p>市桥街繁华路3号三楼</p>
			</div>
			<span class="glyphicon glyphicon-menu-right"></span>
		</section>
		
		<!--场次选择-->
		<section id="screens">
			<nav>
				<ul>
					<!--日期-->
					<template v-for="date in dates">
						<li>
							<a v-bind:class="{'a-active':date.index==index}" @click="change(date.index)">{{date.name}}</a>
						</li>
					</template>
				</ul>
			</nav>
			<!--上午-->
			<div id="mornings">
				<Myscreen v-for="morning in screenList[index].mornings" v-bind:screen="morning"></Myscreen>
			</div>
			<!--下午-->
			<div id="afternoons">
				<Myscreen v-for="afternoon in screenList[index].afternoons" v-bind:screen="afternoon"></Myscreen>
			</div>
			<!--晚上-->
			<div id="nights">
				<Myscreen v-for="night in screenList[index].nights" v-bind:screen="night"></Myscreen>
			</div>
			<!--凌晨-->
			<div id="lates">
				<Myscreen v-for="late in screenList[index].lates" v-bind:screen="late"></Myscreen>
			</div>
		</section>
	</body>
	<script type="text/javascript" src="js/screen.js"></script>

</html>