<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>场次</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link href="css/reset.css" rel="stylesheet" />
		<link href="css/screen.css" rel="stylesheet" />
		<script src="js/vue.js"></script>
	</head>

	<body>
		<!--顶部条-->
		<header id="top-bar">
			<h1>
				<span class="glyphicon glyphicon-menu-left" onclick="window.location='#'"></span>
				妖精的尾巴剧场版：龙泣
				<span class="glyphicon glyphicon-menu-hamburger" onclick="showDropMenu()"></span>
			</h1>

		</header>
		<!--影院信息-->
		<section id="cinema">
			<!--三行下拉菜单-->
			<div id="dropMenu" style="display: none;">
				<a onclick="window.location='#'"><span class="glyphicon glyphicon-home"></span>首页</a><br />
				<a onclick="window.location='login.html'"><span class="glyphicon glyphicon-user"></span>个人中心</a>
			</div>
			<div id="content">
				<p><span>大地影院</span><span>10.<sup>0</sup></span></p>
				<p>市桥街繁华路3号三楼</p>
			</div>
			<span class="glyphicon glyphicon-menu-right"></span>

		</section>
		<!--场次选择-->
		<section id="screens">
			<nav>
				<ul>
					<template v-for="date in dates">
						<li>
							<a v-bind:class="{'a-active':date.index==index}" @click="change(date.index)">{{date.name}}</a>
						</li>
					</template>
				</ul>
			</nav>
			<!--上午-->
			<div id="mornings">
				<div class="screen" v-for="morning in screenList[index].mornings">
					<div><span>{{morning.start}}</span></br><span>{{morning.end}}</span></div>
					<div><span>{{morning.type}}</span></br><span>{{morning.place}}</span></div>
					<div><span>￥</span><span>{{morning.price}}</span></br><span>￥{{morning.original}}</span></div>
				</div>
			</div>
			<!--下午-->
			<div id="afternoons">
				<div class="screen" v-for="afternoon in screenList[index].afternoons">
					<div><span>{{afternoon.start}}</span></br><span>{{afternoon.end}}</span></div>
					<div><span>{{afternoon.type}}</span></br><span>{{afternoon.place}}</span></div>
					<div><span>￥</span><span>{{afternoon.price}}</span></br><span>￥{{afternoon.original}}</span></div>
				</div>
			</div>
			<!--晚上-->
			<div id="nights">
				<div class="screen" v-for="night in screenList[index].nights">
					<div><span>{{night.start}}</span></br><span>{{night.end}}</span></div>
					<div><span>{{night.type}}</span></br><span>{{night.place}}</span></div>
					<div><span>￥</span><span>{{night.price}}</span></br><span>￥{{night.original}}</span></div>
				</div>
			</div>
			<!--凌晨-->
			<div id="lates">
				<div class="screen" v-for="late in screenList[index].lates">
					<div><span>{{late.start}}</span></br><span>{{late.end}}</span></div>
					<div><span>{{late.type}}</span></br><span>{{late.place}}</span></div>
					<div><span>￥</span><span>{{late.price}}</span></br><span>￥{{late.original}}</span></div>
				</div>
			</div>
		</section>
	</body>
	<script type="text/javascript" src="js/screen.js"></script>

</html>